

#tit {

text-align: center;

}

th {

    border: 1px solid;
    border-color: black;
    
    
    }

tr {

        border: 1px solid;
        border-color: black;
        
        
        }


 td {

            border: 1px solid;
            border-color: black;
            
            
            }


#logo {
    width: 550px;
    height: 90px;
    margin-left: 10%;
}